body {
  color: red;
}

@media only screen and (max-width: 1000px) {
  .grid-container {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .grid-container {
    width: 50%;
  }
}

.grid-container {
  max-width: 750px;
  top: 40px;
  margin: auto;
  position: relative;
  justify-content: space-evenly;
}

.block {
  outline: 1px solid black;
  display: inline-table;
  background: white;
  color: black;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
}

.block-red {
  background: red;
}
